In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('aggs').getOrCreate()

In [4]:
df = spark.read.csv('sales_info.csv', inferSchema=True, header=True)

In [5]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [52]:
df.groupBy(['Company']).max().show()
# df.groupBy('Company').count().show()
# df.groupBy("Company").count().show()
# df.groupBy(df['Company']).count().show()
# df.groupBy(df.Company).count().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [24]:
df.agg({'Sales' : 'max'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [25]:
df.groupBy(['Company']).agg({'Sales' : 'max'}).show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [48]:
from pyspark.sql import functions as F

In [64]:
df.select(F.max('Sales')).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [65]:
df.select(F.max('Sales').alias('New Col Name')).show()

+------------+
|New Col Name|
+------------+
|       870.0|
+------------+

In [75]:
df.orderBy(['Sales']).show(3)
df.orderBy(df['Sales'].desc()).show(3)
# df.orderBy('Sales').show(3)
# df.orderBy(['Sales']).show(3)
# df.orderBy(df['Sales']).show(3)
# df.orderBy(df.Sales).show(3)

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
+-------+-------+-----+
only showing top 3 rows

+-------+------+-----+
|Company|Person|Sales|
+-------+------+-----+
|     FB|  Carl|870.0|
|   APPL|  Mike|750.0|
|   MSFT|  Tina|600.0|
+-------+------+-----+
only showing top 3 rows